<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>controller.Like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivateSong</servlet-name>
        <servlet-class>controller.PrivateSong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicSong</servlet-name>
        <servlet-class>controller.PublicSong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivateList</servlet-name>
        <servlet-class>controller.PrivateList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicPlaylist</servlet-name>
        <servlet-class>controller.PublicPlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>controller.Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exit</servlet-name>
        <servlet-class>controller.Exit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Likes</servlet-name>
        <servlet-class>controller.Likes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivateSong</servlet-name>
        <url-pattern>/PrivateSong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicSong</servlet-name>
        <url-pattern>/PublicSong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivateList</servlet-name>
        <url-pattern>/PrivateList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicPlaylist</servlet-name>
        <url-pattern>/PublicPlaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exit</servlet-name>
        <url-pattern>/Exit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Likes</servlet-name>
        <url-pattern>/Likes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
